:root {
	--size-fakeplayer-width: 26px;
	--size-fakeplayer-height: 32px;
	--size-fakeplayer-center: calc(50% - 13px);
	--size-player-width: 120px;
	--size-player-width-off: 128px;
	--size-player-height: 180px;
	--size-player-offset-60: 60px;
	--size-player-offset-25: 25px;
	--size-player-offset-70: 70px;
	--size-player-offset-50: 50px;
	--size-player-offset-90: 90px;
	--size-player-offset-22: 22px;
	--size-player-offset-3: 3px;
	--size-player-offset-9: 9px;

	--percent-top-5: 5%;
	--percent-top-15: 15%;
	--percent-top-18: 18%;
	--percent-top-19: 19%;
	--percent-top-22-5: 22.5%;
	--percent-top-23: 23%;
	--percent-top-50: calc(50% - var(--size-player-offset-90));

	--percent-left-22: 22%;
	--percent-left-24: 24%;
	--percent-left-24-8: 24.8%;
	--percent-left-27-5: 27.5%;
	--percent-left-28: 28%;
	--percent-left-32-5: 32.5%;
	--percent-left-35: 35%;
	--percent-left-35-5: 35.5%;
	--percent-left-36: 36%;
	--percent-left-37: 37%;
	--percent-left-40: 40%;
	--percent-left-41-6: 41.6%;
	--percent-left-50: 50%;
}

.menu>.button.character {
	border-radius: 0;
}

.menu>.button.character>.name {
	inset: auto 0 0 auto;
	width: auto;
	height: auto;
}

.menu>.button.character>.fakeplayer {
	width: var(--size-fakeplayer-width);
	height: var(--size-fakeplayer-height);
}

.menu>.button.character>.fakeplayer:nth-child(2) {
	inset: auto 0 0 0;
}

.menu>.button.character.long2>.fakeplayer:nth-child(3) {
	inset: var(--percent-top-5) 0 auto 0;
}

.menu>.button.character.long2>.fakeplayer:nth-child(4) {
	inset: 0 0 0 var(--size-fakeplayer-center);
}

.menu>.button.character.long2>.fakeplayer:nth-child(5) {
	inset: var(--percent-top-5) 0 auto auto;
}

.menu>.button.character.nova>.fakeplayer:nth-child(3) {
	inset: var(--percent-top-15) 0 auto 0;
}

.menu>.button.character.nova>.fakeplayer:nth-child(4) {
	inset: 0 0 0 var(--size-fakeplayer-center);
}

.menu>.button.character.nova>.fakeplayer:nth-child(5) {
	inset: var(--percent-top-15) 0 auto auto;
}

#arena[data-layout="nova"]:not(*[data-player_height=""])>.player {
	width: var(--size-player-width);
	height: var(--size-player-height);
}

#arena[data-new-decade-style="on"]>.player {
	--w: var(--size-player-width) !important;
}

#arena[data-new-decade-style="off"]>.player {
	--w: var(--size-player-width-off) !important;
}

#arena[data-new-decade-style="othersOff"]>.player {
	--w: var(--size-player-width) !important;
}

#arena[data-new-decade-style="onlineUI"]>.player {
	--w: var(--size-player-width) !important;
}

#arena[data-new-decade-style="babysha"]>.player {
	--w: var(--size-player-width) !important;
}

#arena[data-new-decade-style="codename"]>.player {
	--w: var(--size-player-width) !important;
}

#arena[data-layout="mobile"][data-number="8"]>.player[data-position="1"] {
	inset: var(--percent-top-50) 0 auto auto;
}

#arena[data-layout="mobile"][data-number="8"]>.player[data-position="2"] {
	inset: var(--size-player-offset-22) 0 auto auto;
}

#arena[data-layout="mobile"][data-number="8"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-28) - var(--size-player-offset-60)) auto auto;
}

#arena[data-layout="mobile"][data-number="8"]>.player[data-position="4"] {
	inset: var(--size-player-offset-3) auto auto calc(var(--percent-left-50) - var(--size-player-offset-60));
}

#arena[data-layout="mobile"][data-number="8"]>.player[data-position="5"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-28) - var(--size-player-offset-60));
}

#arena[data-layout="mobile"][data-number="8"]>.player[data-position="6"] {
	inset: var(--size-player-offset-22) auto auto 0;
}

#arena[data-layout="mobile"][data-number="8"]>.player[data-position="7"] {
	inset: var(--percent-top-50) auto auto 0;
}

#arena[data-layout="mobile"][data-number="7"]>.player[data-position="1"] {
	inset: var(--percent-top-50) 0 auto auto;
}

#arena[data-layout="mobile"][data-number="7"]>.player[data-position="2"] {
	inset: var(--size-player-offset-22) 0 auto auto;
}

#arena[data-layout="mobile"][data-number="7"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-35-5) - var(--size-player-offset-60)) auto auto;
}

#arena[data-layout="mobile"][data-number="7"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-35-5) - var(--size-player-offset-60));
}

#arena[data-layout="mobile"][data-number="7"]>.player[data-position="5"] {
	inset: var(--size-player-offset-22) auto auto 0;
}

#arena[data-layout="mobile"][data-number="7"]>.player[data-position="6"] {
	inset: var(--percent-top-50) auto auto 0;
}

#arena[data-layout="mobile"][data-number="6"]>.player[data-position="1"] {
	inset: var(--percent-top-18) 0 auto auto;
}

#arena[data-layout="mobile"][data-number="6"]>.player[data-position="2"] {
	inset: var(--size-player-offset-22) calc(var(--percent-left-27-5) - var(--size-player-offset-60)) auto auto;
}

#arena[data-layout="mobile"][data-number="6"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - var(--size-player-offset-60));
}

#arena[data-layout="mobile"][data-number="6"]>.player[data-position="4"] {
	inset: var(--size-player-offset-22) auto auto calc(var(--percent-left-27-5) - var(--size-player-offset-60));
}

#arena[data-layout="mobile"][data-number="6"]>.player[data-position="5"] {
	inset: var(--percent-top-18) auto auto 0;
}

#arena[data-layout="mobile"][data-number="5"]>.player[data-position="1"] {
	inset: var(--percent-top-18) 0 auto auto;
}

#arena[data-layout="mobile"][data-number="5"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-35) - var(--size-player-offset-60)) auto auto;
}

#arena[data-layout="mobile"][data-number="5"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-35) - var(--size-player-offset-60));
}

#arena[data-layout="mobile"][data-number="5"]>.player[data-position="4"] {
	inset: var(--percent-top-18) auto auto 0;
}

#arena[data-layout="mobile"][data-number="4"]>.player[data-position="1"] {
	inset: var(--percent-top-18) 0 auto auto;
}

#arena[data-layout="mobile"][data-number="4"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - var(--size-player-offset-60));
}

#arena[data-layout="mobile"][data-number="4"]>.player[data-position="3"] {
	inset: var(--percent-top-18) auto auto 0;
}

#arena[data-layout="mobile"][data-number="3"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-32-5) - var(--size-player-offset-60)) auto auto;
}

#arena[data-layout="mobile"][data-number="3"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-32-5) - var(--size-player-offset-60));
}

#arena[data-layout="mobile"][data-number="2"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - var(--size-player-offset-60));
}

#arena[data-layout="nova"][data-number="8"]>.player[data-position="1"] {
	inset: var(--percent-top-19) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-number="8"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-22) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-number="8"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-36) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-number="8"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="8"]>.player[data-position="5"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-36) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="8"]>.player[data-position="6"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-22) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="8"]>.player[data-position="7"] {
	inset: var(--percent-top-19) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-number="7"]>.player[data-position="1"] {
	inset: var(--percent-top-19) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-number="7"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-24-8) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-number="7"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-41-6) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-number="7"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-41-6) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="7"]>.player[data-position="5"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-24-8) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="7"]>.player[data-position="6"] {
	inset: var(--percent-top-19) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-number="6"]>.player[data-position="1"] {
	inset: var(--percent-top-19) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-number="6"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-28) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-number="6"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="6"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-28) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="6"]>.player[data-position="5"] {
	inset: var(--percent-top-19) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-number="5"]>.player[data-position="1"] {
	inset: var(--percent-top-19) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-number="5"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-35) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-number="5"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-35) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="5"]>.player[data-position="4"] {
	inset: var(--percent-top-19) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-number="4"]>.player[data-position="1"] {
	inset: var(--percent-top-19) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-number="4"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="4"]>.player[data-position="3"] {
	inset: var(--percent-top-19) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-number="3"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-32-5) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-number="3"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-32-5) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-number="2"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="8"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="8"]>.player[data-position="2"] {
	inset: var(--size-player-offset-50) calc(var(--percent-left-22) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="8"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-36) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="8"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="8"]>.player[data-position="5"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-36) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="8"]>.player[data-position="6"] {
	inset: var(--size-player-offset-50) auto auto calc(var(--percent-left-22) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="8"]>.player[data-position="7"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="7"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="7"]>.player[data-position="2"] {
	inset: var(--size-player-offset-50) calc(var(--percent-left-24-8) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="7"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-41-6) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="7"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-41-6) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="7"]>.player[data-position="5"] {
	inset: var(--size-player-offset-50) auto auto calc(var(--percent-left-24-8) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="7"]>.player[data-position="6"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="6"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="6"]>.player[data-position="2"] {
	inset: var(--size-player-offset-50) calc(var(--percent-left-28) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="6"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="6"]>.player[data-position="4"] {
	inset: var(--size-player-offset-50) auto auto calc(var(--percent-left-28) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="6"]>.player[data-position="5"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="5"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="5"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-35) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="5"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-35) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="5"]>.player[data-position="4"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="4"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="4"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="4"]>.player[data-position="3"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="3"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-32-5) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="3"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-32-5) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-decade-layout="off"][data-number="2"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="8"]>.player[data-position="1"] {
	inset: var(--percent-top-22-5) var(--size-player-offset-60) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="8"]>.player[data-position="2"] {
	inset: 25px calc(var(--percent-left-24) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="8"]>.player[data-position="3"] {
	inset: 11px calc(var(--percent-left-37) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="8"]>.player[data-position="4"] {
	inset: 7px auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="8"]>.player[data-position="5"] {
	inset: 11px auto auto calc(var(--percent-left-37) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="8"]>.player[data-position="6"] {
	inset: 25px auto auto calc(var(--percent-left-24) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="8"]>.player[data-position="7"] {
	inset: var(--percent-top-22-5) auto auto var(--size-player-offset-70);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="7"]>.player[data-position="1"] {
	inset: var(--percent-top-22-5) var(--size-player-offset-60) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="7"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-24-8) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="7"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-41-6) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="7"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-41-6) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="7"]>.player[data-position="5"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-24-8) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="7"]>.player[data-position="6"] {
	inset: var(--percent-top-22-5) auto auto var(--size-player-offset-70);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="6"]>.player[data-position="1"] {
	inset: var(--percent-top-22-5) var(--size-player-offset-60) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="6"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-28) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="6"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="6"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-28) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="6"]>.player[data-position="5"] {
	inset: var(--percent-top-22-5) auto auto var(--size-player-offset-70);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="5"]>.player[data-position="1"] {
	inset: var(--percent-top-22-5) var(--size-player-offset-60) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="5"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-35) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="5"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-35) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="5"]>.player[data-position="4"] {
	inset: var(--percent-top-22-5) auto auto var(--size-player-offset-70);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="4"]>.player[data-position="1"] {
	inset: var(--percent-top-22-5) var(--size-player-offset-60) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="4"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="4"]>.player[data-position="3"] {
	inset: var(--percent-top-22-5) auto auto var(--size-player-offset-70);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="3"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-40) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="3"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-40) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-number="2"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="8"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="8"]>.player[data-position="2"] {
	inset: var(--size-player-offset-50) calc(var(--percent-left-22) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="8"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-36) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="8"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="8"]>.player[data-position="5"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-36) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="8"]>.player[data-position="6"] {
	inset: var(--size-player-offset-50) auto auto calc(var(--percent-left-22) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="8"]>.player[data-position="7"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="7"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="7"]>.player[data-position="2"] {
	inset: var(--size-player-offset-50) calc(var(--percent-left-24-8) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="7"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-41-6) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="7"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-41-6) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="7"]>.player[data-position="5"] {
	inset: var(--size-player-offset-50) auto auto calc(var(--percent-left-24-8) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="7"]>.player[data-position="6"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="6"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="6"]>.player[data-position="2"] {
	inset: var(--size-player-offset-50) calc(var(--percent-left-28) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="6"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="6"]>.player[data-position="4"] {
	inset: var(--size-player-offset-50) auto auto calc(var(--percent-left-28) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="6"]>.player[data-position="5"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="5"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="5"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-35) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="5"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-35) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="5"]>.player[data-position="4"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="4"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="4"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="4"]>.player[data-position="3"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="3"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-32-5) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="3"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-32-5) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="onlineUI"][data-decade-layout="off"][data-number="2"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="8"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="8"]>.player[data-position="2"] {
	inset: var(--size-player-offset-50) calc(var(--percent-left-22) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="8"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-35-5) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="8"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="8"]>.player[data-position="5"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-36) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="8"]>.player[data-position="6"] {
	inset: var(--size-player-offset-50) auto auto calc(var(--percent-left-22) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="8"]>.player[data-position="7"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="7"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="7"]>.player[data-position="2"] {
	inset: var(--size-player-offset-50) calc(var(--percent-left-24-8) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="7"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-41-6) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="7"]>.player[data-position="4"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-41-6) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="7"]>.player[data-position="5"] {
	inset: var(--size-player-offset-50) auto auto calc(var(--percent-left-24-8) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="7"]>.player[data-position="6"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="6"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="6"]>.player[data-position="2"] {
	inset: var(--size-player-offset-50) calc(var(--percent-left-28) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="6"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="6"]>.player[data-position="4"] {
	inset: var(--size-player-offset-50) auto auto calc(var(--percent-left-28) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="6"]>.player[data-position="5"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="5"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="5"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-35) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="5"]>.player[data-position="3"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-35) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="5"]>.player[data-position="4"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="4"]>.player[data-position="1"] {
	inset: var(--percent-top-23) var(--size-player-offset-25) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="4"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="4"]>.player[data-position="3"] {
	inset: var(--percent-top-23) auto auto var(--size-player-offset-25);
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="3"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) calc(var(--percent-left-32-5) - (var(--w) / 2)) auto auto;
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="3"]>.player[data-position="2"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-32-5) - (var(--w) / 2));
}

#arena[data-layout="nova"][data-new-decade-style="othersOff"][data-number="2"]>.player[data-position="1"] {
	inset: var(--size-player-offset-9) auto auto calc(var(--percent-left-50) - (var(--w) / 2));
}