:root {
	--color-primary: #5c4033;
	--color-dark: #5c3000;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-shadow: #333333;
	--color-transparent: rgba(0, 0, 0, 0);

	--font-family: "yuanli";
	--font-size-base: 20px;
	--font-size-small: 15px;
	--font-size-large: 22.5px;
	--font-size-button: 35px;

	--transition-base: all 0.3s;
	--transition-color: color 0.5s;
	--transition-color-fast: color 0.3s;

	--border-width: 3px;
	--border-width-thin: 1px;

	--spacing-xs: 5px;
	--spacing-sm: 8px;
	--spacing-md: 10px;
	--spacing-lg: 15px;
	--spacing-xl: 16px;

	--size-button-width: 60px;
	--size-button-height: 27.5px;
	--size-round-button: 45px;
	--size-tab-height: 40px;

	--bg-image-background: url("../image/button/background.png");
	--bg-image-square-light: url("../image/button/square_light.png");
	--bg-image-square-dark: url("../image/button/square_drck.png");
	--bg-image-toggle-off: url("../image/button/kg_off.png");
	--bg-image-toggle-on: url("../image/button/kg_on.png");
}

.menu-container>.menu.main {
	width: 80%;
	margin-left: 9%;
	height: 85%;
	margin-top: 2%;
	transition: var(--transition-base);
	transform-origin: center center;
	background-image: var(--bg-image-background);
	background-size: 100% 100%;
	border: var(--border-width) solid var(--color-primary);
}

.menu-container:not(.phonelayout)>.menu.main {
	left: calc(50% - 48%);
	top: calc(50% - 45%);
	transform-origin: center center;
}

.menu-container>.menu.main.center {
	top: 12px !important;
	left: 10px !important;
}

.menu.main>.menu-tab {
	height: var(--size-tab-height);
	left: -60px;
	top: var(--spacing-xl);
	width: calc(100% - 30px);
	padding-inline: var(--spacing-lg);
	position: relative;
	text-align: center;
	border-width: 0 0 0;
	border-style: solid;
}

.menu.main>.menu-tab>div {
	display: inline-block;
	height: var(--size-button-height);
	left: 35px;
	line-height: 30px;
	padding-top: 0;
	width: var(--size-button-width);
	color: var(--color-white);
	font-size: var(--font-size-base);
	font-family: var(--font-family);
	margin-inline: var(--spacing-xs);
	transition: var(--transition-color);
	background-image: var(--bg-image-square-light);
	background-size: 100% 100%;
}

.menu.main>.menu-tab>div:hover {
	background-image: var(--bg-image-square-light);
}

.menu.main>.menu-tab>div:not(.active):not(*:hover),
.menu.main>.menu-tab>.disabled {
	color: var(--color-white);
	background-image: var(--bg-image-square-dark);
}

.menu.main>.menu-tab-bar {
	display: none;
}

.menu.main>.menu-content {
	height: calc(100% - 38px);
	position: relative;
	width: 100%;
	text-shadow: var(--color-shadow) 0 0 3px;
	font-family: var(--font-family);
	font-size: var(--font-size-base);
}

.menu.main>.menu-content>div>.left.pane {
	width: 20%;
	left: 2%;
	height: 90%;
	overflow: scroll;
}

.menu.main>.menu-content>div>.left.pane>div {
	width: calc(100% - 45px);
	top: 25px;
	margin-top: -3px;
	margin-left: var(--spacing-md);
	transition: var(--transition-base);
	height: var(--spacing-lg);
	font-size: var(--font-size-large);
	font-family: var(--font-family);
	color: var(--color-white);
	text-align: center;
	padding-top: 20.5px;
	line-height: 1px;
	white-space: nowrap;
	background-image: var(--bg-image-square-light) !important;
	background-size: 100% 100%;
	box-shadow: none;
	overflow: hidden;
	position: relative;
}

.menu.main>.menu-content>div>.left.pane>div:hover {
	background-image: var(--bg-image-square-light) !important;
}

.menu.main>.menu-content>div>.left.pane>div:not(.active):not(*:hover),
.menu.main>.menu-content>div>.left.pane>.disabled {
	color: var(--color-white);
	background-image: var(--bg-image-square-dark) !important;
}

.menu.main>.menu-content>div>.left.pane>div.no-scroll {
	-webkit-overflow-scrolling: disabled;
	scroll-behavior: block;
}

.menu.main>.menu-content>div>.left.pane>.lefttext {
	font-size: var(--font-size-small);
	margin-left: var(--spacing-sm);
}

.menu.main>.menu-content>div>.left.pane>div img {
	display: block !important;
	margin-inline: auto !important;
	max-width: 90% !important;
	max-height: 40px !important;
	margin-top: -13px !important;
}

.menu.main>.menu-content>div>.right.pane {
	left: 22%;
	width: 70%;
	height: 90%;
	top: 3%;
}

.menu.main .menu-content div.menubutton.round {
	left: 92.5%;
	top: 82.5%;
	font-size: var(--font-size-button);
	transition: var(--transition-color-fast);
	position: absolute;
	background: var(--color-dark);
	background-repeat: no-repeat;
	text-align: center;
	border: var(--border-width-thin) solid var(--color-black);
}

.menubutton.round {
	width: var(--size-round-button);
	height: var(--size-round-button);
	border-radius: 100%;
	font-size: var(--font-size-small);
	line-height: 40px;
}

.config.config.toggle>div {
	--w: 60px;
	--h: calc(var(--w) * 83 / 158);
	width: var(--w);
	height: var(--h);
	background-color: var(--color-transparent);
	background-image: var(--bg-image-toggle-off);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0;
	box-shadow: none;
}

.config.config.toggle.on>div {
	background-image: var(--bg-image-toggle-on);
	box-shadow: none;
}

.config.config.toggle>div>div {
	visibility: hidden;
}