/*选中阴影显示*/
.card {
	&::before {
		content: "";
		position: absolute;
		top: -7px;
		left: -7px;
		height: 100%;
		width: 100%;
		border-image-source: url("../assets/image/card_select.png");
		border-image-slice: 8 7 7 8;
		border-style: solid;
		border-image-width: 8px 7px 7px 8px;
		border-width: 7px;
		box-shadow: none;
		border-radius: inherit;
		opacity: 0;
		transition: opacity 0.3s linear;
		z-index: 0;
	}

	&::after {
		display: none;
	}

	&.selected::before {
		opacity: 1;
	}

	>.animation {
		position: absolute;
		width: 100%;
		height: 100%;
		line-height: 150px;
		color: black;
		font-size: 100px;
		font-family: "xingkai";
		font-display: swap;
		text-align: center;
		text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
		opacity: 0;
		pointer-events: none;

		&[data-nature="fire"] {
			text-shadow: 0 0 4px #fff, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 10px #f80, 2px -25px 20px #f20;
		}

		&[data-nature="thunder"]::before {
			content: "";
			display: block;
			position: absolute;
			left: calc(50% - 50px);
			top: calc(50% - 30px);
			width: 100px;
			height: 60px;
			text-shadow: 0 0 10px white !important;
			background: linear-gradient(to bottom, white, rgba(100, 100, 255, 1) 15%, white 30%, rgba(100, 100, 255, 1) 50%, white 70%, rgba(100, 100, 255, 1) 85%, white);
			clip-path: polygon(100% 0, 20% 50%, 37% 60%, 0 100%, 80% 50%, 63% 40%);
			-webkit-clip-path: polygon(100% 0, 20% 50%, 37% 60%, 0 100%, 80% 50%, 63% 40%);
			transform: scale(1.5);
			z-index: -1;
			pointer-events: none;
		}
	}

	>.animation-player {
		display: block;
		position: absolute;
		left: -120%;
		top: -70%;
		width: 340%;
		height: 240%;
		transition: none;
		pointer-events: none;
		z-index: 8;
	}

	/*出牌来源提示*/
	>.used-info {
		opacity: 0;
		margin: 0px;
		padding: 0px;
		position: absolute;
		left: 0px;
		bottom: 0px;
		text-align: center;
		/* background-color: rgba(0, 0, 0, 0.4); */
		background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.1) 100%);
		color: rgb(255, 255, 200);
		font-size: 17px;
		width: 100%;
		height: 33%;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		font-family: "STHeiti", "SimHei", "Microsoft JhengHei", "Microsoft YaHei", "WenQuanYi Micro Hei", Helvetica, Arial, sans-serif !important;
		z-index: 4;
	}

	/*卡牌转换提示*/
	>.gaintag.info,
	&.button>.gaintag.info {
		left: 4px;
		top: calc(50% - 16px);
		bottom: auto;
		right: 4px;
		width: auto;
		color: #fffff0;
		font-size: 20px;
		font-family: yuanli;
		line-height: 24px;
		text-align: center;
		text-shadow: none;
		white-space: normal;
		background-image: url("../image/vcard/cardBaseMap.png") !important;
		background-size: cover;
		border-radius: 2px;
		border: 1px solid black;
		pointer-events: none;
		z-index: 2;
	}

	>.gaintag.info:empty,
	&.button>.gaintag.info:empty {
		display: none;
	}

	&[data-low="1"]>.gaintag.info {
		top: calc(70% - 16px);
	}

	/*卡名辅助显示及控制*/
	>.name,
	&.fullskin>.name,
	&.fullskin>.name.long {
		top: auto;
		bottom: 5px;
		line-height: 16px;
		color: black;
		font-size: 16px;
		font-weight: bold;
		font-family: shousha;
		text-shadow: 0 0 1px white, 0 0 3px white;
		border: 1px solid black;
		border-radius: 2px;
		z-index: 1;
	}

	&.decade-card:not(*[data-card-type="basic"])>.name {
		bottom: 20px;
	}

	/****** 转换牌显示 ******/
	>.temp-name {
		position: absolute;
		left: 4px;
		top: calc(50% - 12px);
		right: 4px;
		width: auto;
		height: 24px;
		color: white;
		font-size: 20px;
		font-weight: bold;
		font-family: yuanli;
		line-height: 24px;
		text-align: center;
		text-shadow: 0 0 2px black;
		white-space: normal;
		background: rgba(228, 207, 166, 0.8);
		border-radius: 2px;
		border: 1px solid black;
		pointer-events: none;
		background-image: url("../image/vcard/cardBaseMap.png") !important;
		background-size: cover;
		background-position: center;

		&[data-nature="fire"] {
			color: red;
			text-shadow: 0 0 4px #fff, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 10px #f80, 2px -25px 20px #f20;
		}

		&[data-nature="thunder"] {
			color: blue;
			text-shadow: 0 0 5px lightblue, 0 0 10px lightblue;
		}

		&:empty {
			display: none;
		}
	}

	/*转化花色点数显示*/
	>.tempsuitnum {
		font-size: 25px;
		color: #351d01;
		text-align: center;
		top: -1px;
		left: -1px;
		width: 58px;
		height: 100px;
		line-height: 42px;
		text-shadow: 0 0 3px #ffffff;
		background-image: url("../assets/image/viewsuitnum.png");
		background-size: 70% 60%;
		background-repeat: no-repeat;
		letter-spacing: -1px;
		transform-origin: 0 0;
		z-index: 2;
		-webkit-text-size-adjust: none;

		>.num {
			left: -11px;
			position: relative;
		}

		>.suit {
			left: -10px;
			top: -22px;
			position: relative;
		}
	}

	&[data-virtual="1"]>.tempsuitnum {
		display: none;
	}

	&[data-suit="heart"]>.suit-num,
	&[data-suit="diamond"]>.suit-num,
	&[data-tempsn="heart"]>.tempsuitnum,
	&[data-tempsn="diamond"]>.tempsuitnum {
		color: #df0101;
	}

	&[data-suit="club"]>.suit-num,
	&[data-suit="spade"]>.suit-num,
	&[data-tempsn="club"]>.tempsuitnum,
	&[data-tempsn="spade"]>.tempsuitnum {
		color: #010101;
	}

	&.dctuoyu-fengtian-glow::before,
	&.dctuoyu-qingqu-glow::before,
	&.dctuoyu-junshan-glow::before {
		opacity: 0.2;
	}
}

#arena {
	>.card.thrown {
		z-index: 5;
	}

	>.card.thrown.gainingcard,
	>.card.thrown.drawingcard {
		z-index: 6;
	}
}

.card.thrown:not(.drawingcard):not(.movingcard)>.used-info:not(:empty) {
	opacity: 1;
}

/*卡名辅助显示及控制*/
.dialog .buttons>.card>.name.long {
	top: auto;
	bottom: 5px;
	line-height: 16px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	font-family: shousha;
	text-shadow: 0 0 1px white, 0 0 3px white;
	border: 1px solid black;
	border-radius: 2px;
	z-index: 1;
}

#window[data-card-alternate-name-visible="off"] .card>.name {
	display: none;
}

.handcards.nsanruo {

	>.card.decade-card[data-card-type="trick"]:not(*[data-card-multitarget="1"]),
	>.card.decade-card[data-card-name="sha"] {
		background-image: url("../../../image/character/ns_liuzhang.jpg") !important;
		background-position: center;
		background-size: cover !important;
	}
}

.dui-mobile .card>.tempsuitnum>.suit {
	font-size: 16px;
}