.menu-container {
	>.menu.main {
		/*框整体*/
		width: 80%;
		margin-left: 9%;
		height: 85%;
		margin-top: 2%;
		transition: all 0.3s;
		transform-origin: center center;
		background-image: url("../image/button/background.png");
		background-size: 100% 100%;
		border: 3px solid #5c4033;
	}

	/* 非触屏布局样式 */
	&:not(.phonelayout) {
		>.menu.main {
			left: calc(50% - 48%);
			top: calc(50% - 45%);
			transform-origin: center center;
		}
	}
}

.menu.main {
	&.center {
		top: 12px !important;
		left: 10px !important;
	}

	>.menu-tab {
		/*菜单顶部标题栏*/
		height: 40px;
		left: -60px;
		top: 16px;
		text-align: center;
		width: calc(100% - 30px);
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		text-align: center;
		border-width: 0 0 0px;
		/*顶部标题栏下方横条*/
		border-style: solid;

		>div {
			/*标题栏文字显示*/
			display: inline-block;
			height: 27.5px;
			left: 35px;
			line-height: 30px;
			padding-top: 0px;
			width: 60px;
			color: #ffffff;
			font-size: 20px;
			font-family: "yuanli";
			margin-left: 5px;
			margin-right: 5px;
			transition: color 0.5s;
			background-image: url("../image/button/square_light.png");
			background-size: 100% 100%;

			&:hover {
				background-image: url("../image/button/square_light.png");
			}

			&:not(.active):not(*:hover),
			&.disabled {
				color: #ffffff;
				background-image: url("../image/button/square_drck.png");
			}
		}
	}

	>.menu-tab-bar {
		/*标题栏进度条*/
		display: none;
	}

	>.menu-content {
		/*菜单具体内容*/
		height: calc(100% - 38px);
		position: relative;
		width: 100%;
		text-shadow: #333333 0 0 3px;
		font-family: "yuanli";
		font-size: 20px;

		>div {
			>.left.pane {
				/*菜单栏左侧标题*/
				width: 20%;
				left: 2%;
				height: 90%;
				overflow: scroll;

				>div {
					width: calc(100% - 45px);
					top: 25px;
					margin-top: -3px;
					margin-left: 10px;
					transition: all 0.3s;
					height: 15px;
					font-size: 22.5px;
					font-family: "yuanli";
					color: #ffffff;
					text-align: center;
					padding-top: 20.5px;
					line-height: 1px;
					white-space: nowrap;
					background-image: url("../image/button/square_light.png") !important;
					background-size: 100% 100%;
					box-shadow: none;
					overflow: hidden;
					/* 隐藏超出的内容 */
					position: relative;
					/* 设置相对定位 */

					&:hover {
						background-image: url("../image/button/square_light.png") !important;
					}

					&:not(.active):not(*:hover),
					&.disabled {
						color: #ffffff;
						background-image: url("../image/button/square_drck.png") !important;
					}

					&.no-scroll {
						-webkit-overflow-scrolling: disabled;
						/* 在iOS设备上禁止滑动 */
						scroll-behavior: block;
						/* 防止滚动 */
					}

					&.lefttext {
						/*全部开启和恢复默认*/
						font-size: 15px;
						margin-left: 8px;
					}

					>img {
						display: block !important;
						margin-left: auto !important;
						margin-right: auto !important;
						max-width: 90% !important;
						max-height: 40px !important;
						margin-top: -13px !important;
					}
				}
			}

			>.right.pane {
				/*右侧内容栏*/
				left: 22%;
				width: 70%;
				height: 90%;
				top: 3%;
			}
		}
	}

	.menu-content {
		div.menubutton.round {
			/*启和作按钮*/
			left: 92.5%;
			top: 82.5%;
			font-size: 35px;
			transition: color 0.3s;
			position: absolute;
			background: #5c3000;
			background-repeat: no-repeat;
			text-align: center;
			border: 1px solid #000000;
		}
	}
}

.menubutton.round {
	/*界面按钮样式，包括打开菜单的圆球、重来、记录、托管等*/
	width: 45px;
	height: 45px;
	border-radius: 100%;
	font-size: 15px;
	line-height: 40px;
}

.config.config.toggle {

	/*开关按钮-关闭*/
	>div {
		--w: 60px;
		--h: calc(var(--w) * 83 / 158);
		width: var(--w);
		height: var(--h);
		background-color: rgba(0, 0, 0, 0);
		background-image: url("../image/button/kg_off.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-radius: 0px;
		box-shadow: none;

		>div {
			visibility: hidden;
		}
	}

	&.on {
		>div {
			/*开关按钮-开启*/
			background-image: url("../image/button/kg_on.png");
			box-shadow: none;
		}
	}
}