/*------出牌记录------*/
#arena.chess>#arenalog {
	display: none !important;
	font-family: "FZLBJW" !important;
	background: none;
}

#arena.observe .handcards>.card>div {
	opacity: 0 !important;
	font-family: "FZLBJW" !important;
	background: none;
}

#arena.hide_name .player>.name:not(.name_seat),
#arena.hide_name .player>.name2,
#arena.hide_name>.dialog .button.character>.name {
	display: none !important;
	font-family: "FZLBJW" !important;
	background: none;
}

/*记录栏主体*/
#arenalog {
	width: calc(50% - 230px);
	height: calc(100% - 452px);
	/*100消了四层。*/
	left: calc(50% + 60px);
	top: 234px;
	overflow: hidden;
	font-family: "FZLBJW" !important;
	z-index: 10;
	pointer-events: none;
	text-align: center;
}

#arenalog.withdialog {
	opacity: 0.5;
}

#arena:not(.oldlayout)>#arenalog[data-position="center"] {
	left: calc(25% + 105px);
}

#arena:not(.oldlayout)>#arenalog[data-position="left"] {
	left: 150px;
}

#arena.oldlayout>#arenalog {
	top: 160px;
	width: calc(50% - 280px);
	height: calc(100% - 355px);
}

#arena.oldlayout>#arenalog[data-position="center"] {
	left: calc(25% + 150px);
}

#arena.oldlayout>#arenalog[data-position="left"] {
	left: 240px;
}

/*-------文本颜色------*/
.firetext {
	color: rgb(255, 119, 63);
}

.yellowtext {
	color: #bd9927;
}

.bluetext {
	color: #bd9927;
}

.greentext {
	color: #bd9927;
}

.icetext {
	color: rgb(59, 98, 115);
}

.thundertext,
.controlthundertext {
	color: rgb(117, 186, 255);
}

.kamitext {
	color: rgb(90, 118, 99);
}

.whitetext .thundertext {
	color: #b9b7bc;
}

.poisontext {
	color: rgb(104, 221, 127);
}

.browntext {
	color: rgb(195, 161, 223);
}

.legendtext {
	color: rgb(233, 131, 255);
}

#arenalog>div {
	position: relative;
	display: block;
	width: calc(100% - 23px);
	left: 20px;
	font-size: 22px;
	line-height: 22px;
	font-family: "FZLBJW" !important;
	font-weight: 800;
	color: #b9b7bc;
	text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black;
	background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5) 90%, transparent 100%);
	/*background-image: url("info.png");*/
	background-size: 100% 100%;
}

#window:not(.low_performance) #arena #arenalog>div {
	animation: game_start 0.5s;
	-webkit-animation: game_start 0.5s;
}

/* 历史记录栏 */
.bigbgjilu {
	/*大背景*/
	background-image: url("./images/OL_line/jilu/lsbigdialog.png");
	background-size: 100% 100%;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 55%;
}

.bigbgjilu>.content {
	/*左侧信息栏*/
	left: 0%;
	top: 7%;
	width: 40%;
	height: 92%;
	background-image: url("./images/OL_line/jilu/lsbigdialog2.png");
	background-size: 100% 100%;
	overflow: auto;
	z-index: 7;
}

.bigbgjilu>.content>.namebg {
	/*信息背景*/
	width: auto;
	height: 9.4%;
	line-height: 19px;
	font-weight: 200;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	left: 35%;
	z-index: 7;
}

.bigbgjilu>.content>.namebg>.jiluanniu {
	/*每个人名字前面的按钮*/
	background-image: url("./images/OL_line/jilu/kuang.png");
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	flex-shrink: 0;
	left: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 8;
}

.bigbgjilu>.content>.namebg>.jiluanniu>.gou {
	/*按钮点击后的效果*/
	background-image: url("./images/OL_line/jilu/gou.png");
	background-size: 100% 100%;
	width: 35px;
	height: 35px;
	transform: translateY(-5px);
	z-index: 7;
}

.bigbgjilu>.content>.namebg>.namebgbg {
	/*名字的底*/
	left: 48px;
	width: 45%;
	display: flex;
	justify-content: center;
}

.bigbgjilu>.content>.namebg>.namebgbg>.name {
	font-size: 18px;
	font-family: "shousha";
	color: rgb(197, 139, 73);
	z-index: 7;
	top: -8px;
	text-shadow: 0px 0px 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11), 0px 0px 3px rgb(61, 32, 11), 0px 0px 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11), 0px 0px 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11), 0px 0px 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11), 0px 0px 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11), 0 0 3px rgb(61, 32, 11);
	font-weight: 600;
}

.bigbgjilu>.content>.namebg>.namebgbg::before {
	/*下划线*/
	content: "";
	background-image: url("./images/OL_line/jilu/jianfeng.png");
	background-size: 100% 100%;
	width: 120px;
	height: 5px;
	position: absolute;
	bottom: -20px;
	left: 3px;
	z-index: 6;
}

.pausedbg>.resumedbg {
	left: 0 !important;
	top: 0 !important;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.pausedbg>.historybg {
	/*右侧信息栏*/
	transition: all 0.2s linear;
	display: flex;
	width: 22%;
	height: 93%;
	top: 7%;
	left: 22%;
	z-index: 6;
}

#sidebar {
	left: 0;
	top: 0;
	width: 467px;
	height: calc(100% - 15px);
	text-align: left;
	padding: 0px;
	overflow-y: scroll;
	z-index: 6;
	font-size: 18px;
	color: rgb(217, 194, 153);
	line-height: 19px;
	font-weight: 500;
}

#sidebar>div {
	font-family: "shousha";
}

/* 卡牌名称 */
#sidebar>div>.yellowtext {
	color: rgb(217, 194, 153);
	letter-spacing: 4px;
	font-weight: 500;
}

/* 武将名称 */
#sidebar>div>.bluetext {
	color: rgb(220, 170, 50);
	font-weight: 600;
}

/* 技能名称 */
#sidebar>div>.greentext {
	color: rgb(193, 181, 24);
	letter-spacing: 4px;
	font-weight: 600;
}

/* 弃牌堆卡牌名称 */
#sidebar3>div {
	color: rgb(217, 194, 153);
	letter-spacing: 4px;
	font-weight: 500;
}

.identityShow {
	/* 身份任务 */
	top: 50px;
	left: 80px;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	width: 120px;
}

.jiluButton {
	/* 记录按钮 */
	display: block;
	--w: 105px;
	--h: 45px;
	width: var(--w);
	height: var(--h);
	position: absolute;
	top: 80px;
	background-image: url("./images/OL_line/uibutton/jiluShow.png");
	background-size: 100% 100%;
	z-index: 5;
	left: -5px;
}

.bgdialog {
	/*切换背景的背景图*/
	position: absolute;
	background: url("./images/OL_line/bg/bgdialog.png");
	background-size: 100% 100%;
	width: 70%;
	height: 90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.backgroundsbg {
	/*背景背景*/
	width: 100%;
	height: 82%;
	top: 11.5%;
	left: 0.5%;
	overflow-x: hidden;
	overflow-y: auto;
}

.backgrounds {
	/*每一个背景图*/
	background-size: 100% 100%;
	left: 3.55%;
	width: 29%;
	height: 34%;
	position: relative;
	border: 2px solid #d2b48c;
	min-width: 200px;
	object-fit: cover;
	margin-left: 1%;
	margin-bottom: 1%;
	border-radius: 6px;
}

.buttontext {
	/* 每一个背景图的文字 */
	position: absolute;
	bottom: 0;
	height: 20%;
	background-color: #2e1e10;
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-family: "shousha";
	color: #efdbb6;
	text-shadow: none;
	font-size: 25px;
}

.bgback {
	/*背景返回按钮*/
	width: 80px;
	height: 40px;
	top: 5%;
	right: 8%;
	background-image: url("./images/OL_line/uibutton/back.png");
	background-size: 100% 100%;
	z-index: 100;
	position: absolute;
}

.bgxuanzhong {
	/*背景的选中效果*/
	background: url("./images/OL_line/bg/gou.png");
	background-size: 100% 100%;
	width: 45%;
	height: 60%;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

/*左侧的三个按钮*/
.leftbuttons,
.rightbuttons {
	width: 85px;
	/*height: 170px;*/
	bottom: 5px;
	max-height: 205px;
	overflow: auto;
}

.leftbuttons {
	/*右手布局*/
	left: 75px;
}

.rightbuttons {
	/*左手布局*/
	right: 80px;
}

.anniubutton {
	/*单独按钮*/
	width: 100%;
	height: 59.9px;
	background-size: 100% 100%;
	margin-top: -9%;
	position: relative;
	background-image: url("./images/OL_line/uibutton/gameanniubuttonsbg.png");
	background-size: 100% 100%;
	font-size: 20px;
	font-weight: 550;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(197, 167, 139);
	font-family: "shousha";
	text-shadow: none;
}

.caidanbutton {
	/*菜单按钮*/
	background-image: url("./images/OL_line/uibutton/caidan.png");
	background-size: 100% 100%;
	display: block;
	width: 50px;
	height: 45px;
	position: absolute;
	top: 45px;
	right: 70px;
	background-color: transparent;
	z-index: 1;
}

.caidanopen {
	/*菜单展开底框*/
	width: 47px;
	height: 238.34px;
	flex-direction: column;
	align-items: flex-start;
	white-space: normal;
	position: fixed;
	top: 45px;
	right: 71px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
}

.controls {
	/*菜单的每个操作按钮*/
	width: 95%;
	height: 40.1px;
	background-size: 100% 100%;
	z-index: 99;
	left: 1px;
	position: relative;
	margin-top: 6px;
	font-size: 14.5px;
	font-weight: 1000;
	font-family: yuanli;
	color: #ae8e7d;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-shadow: none;
}

.giftbg {
	/* 礼物选择 */
	width: 35%;
	height: 30%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	border: 1px solid #ae8e7d;
}

.giftbgtext {
	/*下面文字*/
	bottom: 5%;
	font-size: 18px;
	width: 100%;
	text-align: center;
	color: #efdbb6;
	font-family: "shousha";
}

.giftes {
	/*所有礼物的位置*/
	width: 100%;
	height: 70%;
	top: 10%;
}

.gift {
	/*每个礼物*/
	width: 19%;
	height: 65%;
	background-size: 100% 100%;
	position: relative;
	margin-left: 4.55%;
}

.giftname {
	/*礼物名字*/
	bottom: -30%;
	font-size: 18px;
	width: 100%;
	text-align: center;
	color: #efdbb6;
	font-family: "shousha";
}

.giftcost {
	/*礼物消耗*/
	bottom: -55%;
	font-size: 18px;
	width: 100%;
	text-align: center;
	color: #efdbb6;
	font-family: "shousha";
}

.giftcost::before {
	content: "";
	background-image: url("./images/OL_line/gift/hua.png");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	vertical-align: middle;
}

.giftbg2 {
	/*弹药底图*/
	width: 25%;
	height: 25%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	border: 1px solid #aa8f3a;
}

.gift2 {
	/*弹药图*/
	width: 25%;
	height: 55%;
	background-size: 100% 100%;
	position: relative;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

.giftgive {
	/*送礼物元素，放在玩家上面，位置跟大小在js里*/
}

.talkbg {
	/*聊天背景*/
	background-image: url("./images/OL_line/talk/talkbg.png");
	background-size: 100% 100%;
	height: 100%;
	width: 35%;
	left: 0%;
	top: 0%;
}

.typechanges {
	/*左侧聊天切换按钮*/
	top: 6%;
	height: 94%;
	width: 10%;
	left: 24%;
}

.typechange {
	/*每个按钮*/
	background-image: url("./images/OL_line/talk/btnn1.png");
	background-size: 100% 100%;
	height: 33%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	writing-mode: vertical-rl;
	text-orientation: upright;
	color: #ae8e7d;
	font-size: 23px;
	font-family: "shousha";
}

.typechangelight {
	/*每个按钮点亮*/
	background-image: url("./images/OL_line/talk/btnn2.png");
	background-size: 100% 100%;
	height: 33%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	writing-mode: vertical-rl;
	text-orientation: upright;
	color: #efdbb6;
	font-size: 23px;
	font-family: "shousha";
}

.talkrightbg {
	/*聊天右侧信息*/
	width: 63%;
	height: 80%;
	top: 7%;
	right: 1.5%;
	overflow: auto;
}

.talkquick {
	/*快捷信息*/
	color: #efdbb6;
	font-size: 22px;
	font-family: "shousha";
	position: relative;
	margin-top: 20px;
	font-weight: 600;
	display: block;
	text-align: center;
}

.talkquick::before {
	/*下划线*/
	content: "";
	background-image: url("./images/OL_line/jilu/jianfeng.png");
	background-size: 100% 100%;
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: -12px;
	left: 3px;
	z-index: 6;
}

.emotionbg {
	/*表情背景*/
	background-size: 100% 100%;
	height: 100%;
	width: 25%;
}

.talkhistory {
	/*消息记录*/
	color: #efdbb6;
	font-family: "shousha";
	position: relative;
	margin-top: 20px;
	font-size: 21px;
	display: block;
}

.talkhistory::before {
	/*上划线*/
	content: "";
	background-image: url("./images/OL_line/jilu/jianfeng.png");
	background-size: 100% 100%;
	width: 100%;
	height: 5px;
	position: absolute;
	top: -15px;
	left: 3px;
	z-index: 6;
}

.dazi {
	/*打字按键*/
	background-image: url("./images/OL_line/talk/btnn2.png");
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #efdbb6;
	font-size: 23px;
	font-family: "shousha";
	bottom: 1.5%;
	right: 15%;
	width: 35%;
	height: 10%;
	position: absolute;
}

.huanfubutton {
	/*换肤按钮*/
	background-image: url("images/OL_line/uibutton/huanfu.png");
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	right: 80px;
	bottom: 200px;
}

/*-----------------------------*/

.lbtn-confirm:not(.closing).removing {
	opacity: 1 !important;
}

.control {
	--height: 32px;
	width: auto !important;
	background: transparent;
	box-shadow: none;
	line-height: normal;
	padding: 0;
}

.control>div {
	background-image: url("./images/OL_line/uibutton/new_btnnOL.png");
	background-size: 100% 100%;
	line-height: var(--h);
	padding: 4px 23px !important;
	/*按钮高度+宽度 (前置定位条件:字体大小) 建议别调1  10*/
	min-width: 90px !important;
	/*限制最小宽度100*/
	max-height: 50px !important;
	/*限制最大高度35*/
	text-align: center;
	margin-top: 0px !important;
	margin-bottom: -15px !important;
	color: #ceb193;
	font-family: "FZLBJW";
	font-size: 26px;
	text-shadow: 2px 2px 0px #5d4022, -2px -2px 0px #5d4022, 2px -2px 0px #5d4022, -2px 1px 0px #5d4022;
	letter-spacing: 2px;
}

/*无懈按钮位置*/
#arena>#dui-controls>.control.stayleft {
	left: calc(50% - 420px) !important;
	margin-bottom: 5px !important;
	order: 3;
}

.control>div.primary2 {
	/*取消按钮*/
	bottom: 1.8px;
	color: #ceb193;
	font-family: "FZLBJW";
	font-size: 28px !important;
	/*字体大小*/
	line-height: 35px;
	/*建议别调*/
	padding: 4px 24.5px !important;
	/*按钮高度+宽度 (前置定位条件:字体大小) 建议别调1  10*/
	margin-left: 55px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	margin-bottom: -15px !important;
	background-size: 100% 100%;
	background-image: url("./images/OL_line/uibutton/new_btnnOL.png");
	overflow: visible;
	transition: none;
	text-shadow: 2px 2px 0px #5d4022, -2px -2px 0px #5d4022, 2px -2px 0px #5d4022, -2px 1px 0px #5d4022;
	letter-spacing: 2px;
}

.control>div.primary {
	/*确认按钮*/
	color: #ceb193;
	font-family: "FZLBJW";
	font-size: 28px !important;
	/*字体大小*/
	line-height: 35px;
	/*建议别调*/
	padding: 4px 24.5px !important;
	/*按钮高度+宽度 (前置定位条件:字体大小) 建议别调0 10*/
	/*margin: 0px 55px !important;*/
	margin-left: 10px !important;
	margin-right: 10px !important;
	margin-top: 0px !important;
	margin-bottom: -15px !important;
	background-size: 100% 100%;
	background-image: url("./images/OL_line/uibutton/new_btnnOL3.png");
	text-shadow: 2px 2px 0px #5d4022, -2px -2px 0px #5d4022, 2px -2px 0px #5d4022, -2px 1px 0px #5d4022;
	letter-spacing: 2px;
}

.control>div.disabled:not([data-type="endButton"]) {
	background-size: 100% 100%;
}

.control>div.disabled:not([data-type="endButton"]) {
	/*-webkit-filter: grayscale(100%);*/
	filter: grayscale(100%);
	/*-webkit-filter: brightness(100%);*/
}

.lbtn-confirm[data-skill]>[data-type="skill2"] {
	display: none;
}

/*------有点懒具体看main1.css---------------*/

.handcardNumber {
	bottom: 0px;
	right: 230px;
	font-family: "yuanli";
	text-shadow: #f5d78e 0 0 1px, black 0 0 2px, black 0 0 2px, black 0 0 2px, black 0 0 2px, black 0 0 2px, black 0 0 2px;
	color: #f5d78e;
	z-index: 1;
}

/*手牌数参数*/
.handcardNumber>.cardNumber {
	display: none !important;
	/* 完全隐藏元素 */
}

.cardRoundNumber {
	top: 60px;
	right: 138.5px;
	font-weight: 400;
	font-family: "yuanli";
	text-shadow: #b4a993 0.2px 0.2px 0.2px, #b4a993 0.2px -0.2px 0.2px, #b4a993 -0.2px 0.2px 0.2px, #b4a993 -0.2px -0.2px 0.2px;
	z-index: 3;
}

.cardRoundNumber>.cardPileNumber {
	left: 10px;
	top: -15px;
	--w: 90px;
	--h: calc(var(--w) * 148 / 157);
	width: var(--w);
	height: var(--h);
	background-image: url("./images/OL_line/uibutton/cardbackOL.png");
	background-size: 100% 100%;
	background-color: transparent;
	position: relative;
	z-index: 1;
}

.cardRoundNumber>.cardPileNumber>span {
	left: 12px;
	/*牌堆数右移，越大越靠右*/
	top: 35px;
	width: 100%;
	display: block;
	position: absolute;
	font-family: "shousha";
	line-height: 20px;
	text-align: center;
	color: #b08463;
	font-size: 16px;
}

.cardRoundNumber>.roundNumber,
.cardRoundNumber>.time {
	/*游戏时间*/
	left: 20px;
	/*牌堆数/时间右移，越大越靠右*/
	top: 0px;
	height: 20px;
	line-height: 13px;
	/*游戏轮数/时间间隔*/
	white-space: nowrap;
	font-size: 22px;
	font-family: "shousha";
	color: #b08463;
	z-index: 3;
}

.cardRoundNumber>.time {
	/*游戏时间*/
	top: 45px;
	/* 使用flex布局，使子元素水平居中，即使它们的宽度不同 */
	display: flex;
	justify-content: center;
	/* 水平居中 */
	font-size: 16px;
	font-family: "shousha";
	color: #b08463;
	/* 设置最小宽度，确保即使没有小时数，元素的总宽度也是一致的 */
	min-width: 70px;
	/* 根据实际需要调整这个值 */
	/* 如果需要，你也可以设置一个固定的宽度 */
	/* width: 80px; */
}

/*托管中图片（）*/

#autonode>div:last-child {
	z-index: 10;
	margin-bottom: -75px !important;
	left: calc(50% - 440px);
	font-size: 0px;
	text-shadow: none;
	--w: 400px;
	--h: calc(var(--w) * 149 / 598);
	/*高和长*/
	width: var(--w);
	/*按比例调节*/
	height: var(--h);
	/*同理*/
	/*display: table;*/
	background-image: url("./images/CD/tuoguan2.png");
	background-size: 100% 100%;
	-webkit-text-fill-color: transparent;
	text-shadow: none !important;
}